.header{
    background-color: rgb(218, 47, 47);
    display: flex;
    align-items: flex-end;
    & img{
        width: 150px;
        height: 150px;
        border-radius:  25% 10%;
        border: 10px solid rgb(116, 188, 236);
        margin: 10px 30px;
    }
    & h1{
        font-size: 2rem;
        color: #fff;
        margin: 10px 30px;
    }
    &_nav{
        color: #fff;
        &_list{
            font-size: 1.5rem;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            &_item{
                margin: 10px 10px;
            }
        }
    }
}