.home{
    background: linear-gradient(to top, rgb(221, 221, 221) 5%, #fff);
    background-color: rgba(109, 109, 109, 0.3);
    width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}